@tailwind base;
@tailwind components; 
@tailwind utilities;




.shadow-top{
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.7), 6px 6px 10px rgba(0,0,0,0.2);
}


.active.search-bar-container{
    width: 50px;
    /* transition: width 1.5s; */
}


.active{
width: 0;
}
.active{
width: 0;
}